.hover-search {
    position: relative;
    transition: .5s;
    background-image: url(../public/icons/login-icon/Vectorsearch.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
    background-size: 14px;
}

.headercss {
    background-color: #5D7871 !important;
}

.btn {
    background-color: #5D7871 !important;
    border-color: #5D7871 !important;
}

.common_btn {
    width: 30%;
    border-radius: 20px !important;
}

.form-control {
    border-radius: 35px !important;
}

.signup-container {
    width: 50%;
    margin: 80px auto;
}

.login-container {
    width: 50%;
    margin: 200px auto;
}

.login-btn {
    margin-top: 25px;
}

.forget_password {
    font-size: 16px;
}

.forgetpassword_container {
    width: 50%;
    margin: 100px auto;
}

.form-floating>label {
    color: #5D7871;
}